<div class="row">
  <div class="col"></div>
  <div class="col col-xl-8 col-lg-10 col-md-12 col-sm-12 col-xs-12">
    <div *ngIf="venue; else noVenue" class=" w-100 m-auto mt-4" style="width: 64rem">
      <div
        class="image-container rounded-3">
        <img
          alt="VenueService Image"
          class="venue-image"
          [src]="venue.images[current]" />
      </div>
      <div class="d-flex flex-row my-5">
        <div style="margin-right: 2rem; width: 60%">
          <h2>{{ venue.name }}</h2>
          <hr />
          <p><strong>Created at: </strong> {{ venue.createdAt | date : "medium"}}</p>
          <p><strong>Address: </strong> {{ venue.address }}</p>
          <p><strong>City: </strong> {{ venue.city }}</p>
          <p><strong>State: </strong> {{ venue.state }}</p>
          <p><strong>Zip: </strong> {{ venue.zip }}</p>
          <p><strong>Country: </strong> {{ venue.country }}</p>
          <p><strong>Capacity: </strong> {{ venue.capacity }}</p>
          <p><strong>Type: </strong> {{ venue.type }}</p>
          <p><strong>Owner: </strong>{{venue.ownerId}}</p>
          <p *ngIf="venue.amenities">
            <strong>Amenities:</strong> {{ venue.amenities.join(', ') }}
          </p>
        </div>
        <hr />
        <app-reservation-form
          [currentVenue]="venue"
          style="width: 40%"></app-reservation-form>
      </div>
    </div>
    <ng-template #noVenue>
      <p>No venue found.</p>
    </ng-template>
  </div>
  <div class="col"></div>
</div>
