<div *ngIf="venue; else noVenue" class="m-auto" style="max-width: 64rem">
  <div
    class="photo-carrousel"
    style="
      overflow: hidden;
      width: 100%;
      padding-top: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      max-height: 50rem;
    ">
    <img
      alt="VenueService Image"
      class="venue-image"
      src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/18/60/5e/15/restaurant.jpg?w=1200&h=-1&s=1" />
  </div>
  <div class="d-flex flex-row my-5" style="">
    <div style="margin-right: 2rem; width: 60%">
      <h2>{{ venue.name }}</h2>
      <hr />
      <p><strong>Created at:</strong> {{ venue.createdAt }}</p>
      <p><strong>Address:</strong> {{ venue.address }}</p>
      <p><strong>City:</strong> {{ venue.city }}</p>
      <p><strong>State:</strong> {{ venue.state }}</p>
      <p><strong>Zip:</strong> {{ venue.zip }}</p>
      <p><strong>Country:</strong> {{ venue.country }}</p>
      <p><strong>Capacity:</strong> {{ venue.capacity }}</p>
      <p><strong>Type:</strong> {{ venue.type }}</p>
      <p><strong>Owner:</strong>{{venue.ownerId}}</p>
      <p *ngIf="venue.amenities">
        <strong>Amenities:</strong> {{ venue.amenities.join(', ') }}
      </p>
    </div>
    <hr />
    <app-reservation-form
      [currentVenue]="venue"
      style="width: 40%"></app-reservation-form>
  </div>
</div>
<ng-template #noVenue>
  <p>No venue found.</p>
</ng-template>
