<div class="d-flex flex-column justify-content-between m-auto p-5">
  <div *ngIf="venue; else noVenue">
    <h2>{{ venue.name }}</h2>
    <hr>
    <p><strong>Created at:</strong> {{ venue.createdAt }}</p>
    <p><strong>Address:</strong> {{ venue.address }}</p>
    <p><strong>City:</strong> {{ venue.city }}</p>
    <p><strong>State:</strong> {{ venue.state }}</p>
    <p><strong>Zip:</strong> {{ venue.zip }}</p>
    <p><strong>Country:</strong> {{ venue.country }}</p>
    <p><strong>Capacity:</strong> {{ venue.capacity }}</p>
    <p><strong>Type:</strong> {{ venue.type }}</p>
    <p *ngIf="venue.amenities"><strong>Amenities:</strong> {{ venue.amenities.join(', ') }}</p>
  </div>
  <hr>
  <app-reservation-form [currentVenue]="venue"></app-reservation-form>
</div>

<ng-template #noVenue>
  <p>No venue found.</p>
</ng-template>

