<ng-container *ngIf='reservationsList && reservationsList?.length > 0; else noData'>
  <div class="row">
    <div class="col">
      <div *ngFor='let reservation of reservationsList' class='col col-md-8 col-lg-6 m-auto p-4 shadow card my-4'>
        <h4>Venue Name:
          <a [routerLink]="['/venue', reservation.venueId]" href='' class="text-decoration-none">{{reservation.venueName}}
            <i class='bi bi-box-arrow-up-right'></i>
          </a>
        </h4>
        <div class="d-flex flex-row justify-content-between mt-2">
          <h6 class="card-subtitle">Created: {{ reservation.createdAt | date : "medium"}}</h6>
          <h6 *ngIf="reservation.updatedAt" class="card-subtitle">Updated: {{ reservation.updatedAt | date : "medium"}}</h6>
        </div>
        <hr>
        <div>
          <p><strong>Name: </strong>
            <span *ngIf="!editingReservations.has(reservation.reservationId)">{{reservation.customerName}}</span>
            <input *ngIf="editingReservations.has(reservation.reservationId)" [(ngModel)]="reservation.customerName" class="form-control" />
          </p>
          <p><strong>Email: </strong>
            <span *ngIf="!editingReservations.has(reservation.reservationId)">{{reservation.customerEmail}}</span>
            <input *ngIf="editingReservations.has(reservation.reservationId)" [(ngModel)]="reservation.customerEmail" class="form-control" />
          </p>
          <p><strong>Phone: </strong>
            <span *ngIf="!editingReservations.has(reservation.reservationId)">{{reservation.customerPhone}}</span>
            <input *ngIf="editingReservations.has(reservation.reservationId)" [(ngModel)]="reservation.customerPhone" class="form-control" />
          </p>
          <p><strong>Date: </strong>
            <span *ngIf="!editingReservations.has(reservation.reservationId)">{{reservation.reservationDateTime | date : 'medium'}}</span>
            <input *ngIf="editingReservations.has(reservation.reservationId)" [(ngModel)]="reservation.reservationDateTime" class="form-control" type="datetime-local" />
          </p>
          <p><strong>Number of Guests: </strong>
            <span *ngIf="!editingReservations.has(reservation.reservationId)">{{reservation.numGuests}}</span>
            <input *ngIf="editingReservations.has(reservation.reservationId)" [(ngModel)]="reservation.numGuests" class="form-control" type="number" />
          </p>
          <p><strong>Special Requests: </strong>
            <span *ngIf="!editingReservations.has(reservation.reservationId)">{{reservation.specialRequests}}</span>
            <input *ngIf="editingReservations.has(reservation.reservationId)" [(ngModel)]="reservation.specialRequests" class="form-control" />
          </p>
          <p class="text-capitalize"><strong>Status: </strong>{{reservation.status}}</p>
        </div>
        <div class="d-flex flex-row justify-content-between mt-3">
          <app-button *ngIf="!editingReservations.has(reservation.reservationId)" (click)="editReservation(reservation.reservationId)" [icon]="'bi bi-pencil'" [style]="'btn-primary px-5'"
                      [text]="'Edit'" [type]="'button'"></app-button>
          <app-button *ngIf="editingReservations.has(reservation.reservationId)" (click)="saveReservation(reservation)" [icon]="'bi bi-save'" [style]="'btn-success px-5'"
                      [text]="'Save'" [type]="'button'"></app-button>
          <app-button *ngIf="editingReservations.has(reservation.reservationId)" (click)="cancelEdit(reservation.reservationId)" [icon]="'bi bi-x'" [style]="'btn-warning px-5'"
                      [text]="'Cancel'" [type]="'button'"></app-button>
          <app-button *ngIf="!editingReservations.has(reservation.reservationId)" (click)="deleteReservation(reservation.reservationId)" [icon]="'bi bi-trash'" [style]="'btn-danger px-5'"
                      [text]="'Delete'" [type]="'button'"></app-button>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #noData>
  <div class="row" style="margin-top:12rem">
    <div class="col col-md-5 col-lg-5 align-self-center m-auto shadow card p-4">
      <h2>Browse venues and book a venue!</h2>
      <p>Explore hundreds of venues and restaurants and create a reservation. It will appear in this section.</p>
      <app-button [icon]="'bi bi-shop'" [routerLink]="['/venues']" [style]="'btn-outline-success'" [text]="'Browse'"
                  class="align-self-center"></app-button>
    </div>
  </div>
</ng-template>
