<ng-container *ngIf="venueData; else noData">
  <app-venue-card
                  *ngFor="let venue of venueData"
                  [_id]="venue._id"
                  [address]="'Palace Street 24'"
                  [amenities]=""
                  [capacity]="32"
                  [name]="venue.name"
                  [type]="'Restaurant'">
    <button (click)="viewVenue(venue._id)" class="btn btn-primary">View</button>
    <button (click)="deleteVenue(venue._id)" class="btn btn-danger">Delete</button>
  </app-venue-card>
</ng-container>
<ng-template #noData>
  Sorry, no data.
</ng-template>
