<!--<button (click)="createVenue()" class="btn btn-outline-primary">-->
<!--  Add VenueService-->
<!--</button>-->
<ng-container *ngIf="venuesList; else noData">
  <app-venue-card *ngFor="let venue of venuesList" [venueCard]="venue">
    <div class="d-flex flex-row justify-content-between">
      <app-button (click)="createVenue()" [icon]="'bi bi-save'" [style]="'btn-outline-warning'" [text]="'Save'"
                  [type]="'button'"></app-button>
      <app-button (click)="bookVenue(venue)" [icon]="'bi bi-book'" [routerLink]="['/venue', venue.venueId]" [style]="'btn-primary px-5'"
                  [text]="'Book'"
                  [type]="'button'"></app-button>
    </div>
  </app-venue-card>
</ng-container>
<ng-template #noData>
  <app-alert [icon]="'bi bi-exclamation-triangle-fill'" [type]='"danger"'>No venue found.</app-alert>
</ng-template>
